<div class="border border-dark border-3 p-3 m-5 rounded">
  <div class="row">
    <div class="col-md-7 d-flex justify-content-center">
      <!-- <%=`uploads/${trade.image}`%> -->
      <img
        src="<%=`/uploads/${trade.image}`%>"
        class="card-img-top responsive-img"
        style="max-width: 400px"
        alt="image will come here"
      />
    </div>
    <div class="col-md-5 border border-dark border-4 p-2 rounded-top">
      <h2><%=trade.title %></h2>
      <hr />
      <p>Location: <%=trade.city %></p>
      <p>Return/Trial:<%=trade.availability%></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>Relevant Category: <%=trade.category %></h4>
      <h2>Description:</h2>
      <p><%=trade.description %></p>
      <h3>Trader's Details</h3>
      <h4>Contact:</h4>
      <p><%=trade.contact %></p>
      <h4>Address:</h4>
      <p><%=trade.address %></p>
    </div>
  </div>
</div>
