<style>
  img {
    transition: transform 0.2s; /* Animation */
    margin: 0 auto;
  }

  img:hover {
    transform: scale(
      1.1
    ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>

<script>
  // User-defined function to share some message on WhatsApp
  function share() {
    // collet the user input
    var message =
      "Hey, I found this amazing website for trading items with others. This one trade in specific got my attention " +
      "\n" +
      window.location.href;

    // JavaScript function to open URL in new window
    window.open("whatsapp://send?text=" + message, "_blank");
  }
</script>

<div class="border ms-5 me-5 my-2 rounded" style="background-color: white">
  <div class="row m-1" style="background-color: black">
    <div class="col-md-7 d-flex justify-content-center">
      <!-- <%=`uploads/${trade.image}`%> -->

      <img
        src="<%=`/uploads/${trade.image}`%>"
        class="card-img-top responsive-img"
        style="max-width: 420px; max-height: 400px"
        alt="image will come here"
      />
    </div>
    <div
      class="col-md-5 border border-dark border-4 p-2 rounded-top p-5"
      style="color: white"
    >
      <h2><b><%=trade.title %></b></h2>
      <hr />
      <p>Location: <%=trade.city %></p>
      <%let show="No" %> <% if(trade.availability==="on"){ %> <% show=" Yes" %>
      <% } %>
      <p>Return/Trial:<%=show%></p>
      <a href="<%=`/delete/${trade._id}`%>" class="btn btn-danger" disabled>
        Remove the trade</a
      >
      <a href="" class="btn btn-danger" disabled> Disabled remove option</a>
    </div>
  </div>
  <br />
  <div class="row ps-4 pe-4">
    <div class="col-12">
      <hr />
      <h5 class="float-end">Uploaded on <%=trade.date%></h5>
      <h4><b>Relevant Category:</b> <%=trade.category %></h4>

      <h2><b>Description:</b></h2>
      <p><%=trade.description %></p>

      <h3><b>Trader's Details</b></h3>
      <h4><b>Contact:</b></h4>
      <p><%=trade.contact %></p>
      <button class="float-end btn btn-success" id="share" onclick="share()">
        <img src="/uploads/whatsapp.png" style="padding: 5px" />Share on
        Whatsapp
      </button>
      <h4><b>Address:</b></h4>
      <p><%=trade.address %></p>
    </div>
  </div>
</div>
